/* Roboto font import link */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital@0;1&display=swap');

/* unversel seletor  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body styling */
body {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  flex-wrap: wrap;
}

/* navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #fff;
  text-decoration: none;
}

.logo a {
    font-size: 22px;
    width: 6.662rem;
    color: #89C5CC;
    text-decoration: none;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.home li a {
    color: #1F1534;
    font-weight: bold;
}

.nav-links a:hover {
    color: #3cb371;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
}

.intro {
    flex: 1;
    max-width: 500px;
}

.highlight {
    color: #89C5CC;
    font-weight: bold;
}

.intro h1 {
    font-size: 3rem;
    color: #333;
    /* margin-bottom: 10px; */
  }
  
div .target {
    font-size: 3rem;
    margin-top: -40px;
  }

.intro p {
    font-family: "Open Sans", sans-serif;
    color: #7D7987;
    font-size: 1.1rem;
    margin-top: 30px;
    margin-bottom: 40px;
}


.image-section {
    flex: 1;
    max-width: 500px;
}

.image-section img {
    max-width: 100%;
    border-radius: 10px;
}


/* Whatsapp Icon button */
.cta-button {
    border: none;
    padding: 10px 20px;
    background-color: #3CB371;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .cta-button:hover {
    background-color: #69B99D;
  }

.cta-button #whatsapp {
    gap: 10px;
}

/* Responsive code*/
@media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      background-color: #fff;
      position: absolute;
      top: 60px;
      right: 30px;
      box-shadow: 0 4px 6px rgba(214, 52, 52, 0.1);
      width: 200px;
      border-radius: 5px;
      padding: 10px;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  
    .hamburger {
      display: block;
    }
  }